  .social__medias {

    margin: 0 auto;

    ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin: 10px;

        .fab {
          color: $dark;
          font-size: 25px;
          line-height: 50px;
          transition: .5s;
          padding: 0 .8rem 0.9rem .69rem;

          &:hover {
            color: $light;
          }
        }

        a {
          position: relative;
          display: block;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $light;
          text-align: center;
          transition: 0.5s;
          transform: translate(0, 0px);
          box-shadow: 0px 7px 5px rbga($dark, .8);

          &:hover {
            transform: rotate(0deg) skew(0deg) translate(0, -10px);
          }
        }

        &:nth-child(1) a:hover {
          background-color: map-get($color__icon_social, facebook);
        }

        &:nth-child(2) a:hover {
          background-color: map-get($color__icon_social, twitter);
        }

        &:nth-child(3) a:hover {
          background-color: map-get($color__icon_social, instagram);
        }

        &:nth-child(4) a:hover {
          background-color: map-get($color__icon_social, youtube);
        }

        &:nth-child(5) a:hover {
          background-color: map-get($color__icon_social, linkedin);
        }

        &:nth-child(6) a:hover {
          background-color: map-get($color__icon_social, github);
        }

      }
    }
  }

  // bouton list outil
  .tagtag {
    display: inline-block;
    line-height: 1.5;
    padding: .45rem 1.25rem;
    font-weight: 700;
    font-size: 1.3rem;
    border-radius: .3rem;
    text-transform: lowercase;
    margin-bottom: .25rem;
    font-size: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  // Button
  .btn {
    background-color: $primary-color;
    border-radius: .3rem;
    border: none;
    color: $light !important;
    display: inline-block;
    padding: .7rem;
    text-transform: uppercase;
    transition: background-color 650ms;
    font: normal 400 0.9rem var(--font-primary);
    cursor: pointer;

    &:hover {
      background-color: rgba($primary-color, 0.6);
      color: var(--text-color) !important;
      border: 1px solid $primary-color;
    }

    &:focus {
      transition: 0.3s;
      box-shadow: $box-shadow;
    }
  }

  .btn__newsletter{
    border-radius: 0;
    width: 60px;
  }
  //button admin
  .edit{
    color: $light !important;
    background-color:var(--text-success) ;
    &:hover {
      background-color: rgba(var(--text-success), 0.6);
      color: var(--text-color)!important;
      border: 1px solid var(--text-success);
    }
  }

  .delete{
    color: $light !important;
    background-color:var(--text-error) ;
    &:hover {
      background-color: rgba(var(--text-error), 0.6);
      color: var(--text-color)!important;
      border: 1px solid var(--text-error);
    }
  }

  .publish{
    color: $light !important;
    background-color:var(--text-publish) ;
    &:hover {
      background-color: rgba(var(--text-publish), 0.6);
      color: var(--text-color)!important;
      border: 1px solid var(--text-publish);
    }
  }

  .btn__article {
    @include btn__read-more;
    padding: 1rem;
  }