.header__profil {
	position: relative;
	padding: 25px 0;
	border-bottom: 1px solid $gray;
	background-color: #f9f9f9;
	height: 100px !important;
	transition-duration: .3s;
}

// ancien css
.sidebar__profil {
	box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
	font: normal 300 1rem/1.2rem var(--font-primary);
	max-height: 329.59px;

	ul {
		padding: 0;
		margin: 0;
		text-align: center;
	}

	.user__info {
		padding: 1rem;
		position: relative;

		img {
			width: 128px;
			height: 128px;
			border-radius: 50%;
			display: block;
			margin-right: auto;
			margin-left: auto;
		}

		h4 {
			padding: 1rem 0;
			text-align: center;
		}

		.meta__info {
			.profil__email {
				padding-bottom: .6rem;
				font-size: 1.2rem;
			}
		}
	}

	.side__menu {

		.tabs {
			display: flex;
			flex-direction: column;
			justify-content: start;

			li {
				padding: 1rem;
				text-align: left;
			}

			.side__menu__item {
				position: relative;
			}

			.side__menu__item.active {
				background: $light;
				color: $primary-color;
				cursor: default;
				pointer-events: none;
				z-index: 2;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
			}

			.side__menu__item::before {
				content: "";
				width: 3px;
				top: 0;
				left: 0;
				position: absolute;
				height: 100%;
				background-color: transparent;
			}

			.side__menu__item.active::before {
				background-color: $primary-color;
			}
		}

		li {
			font-size: 1rem;
			padding: 1rem;
			border-bottom: 1px solid $gray;

			&:nth-child(1) {
				border-top: 1px solid $gray;
			}

			&:nth-child(3) {
				border: none;
			}
		}
	}
}

.main__profil {

	.tabs-content {
		.form__profil {
			display: flex;
			flex-wrap: wrap;
			margin-right: 15px;
			margin-left: 15px;
			font: normal 300 1rem/.9rem var(--font-primary);

			&__item {
				padding-right: 15px;
				padding-left: 15px;
				margin: 0 auto 1rem auto;
			}

			&__btn {
				display: flex;
				width: 100%;
				justify-content: space-between;
				align-items: center;
				border-top: 2px solid $gray;
				padding-top: 1rem;
				margin: 0 auto;
			}

			&__checkbox {
				@include form__checkbox;
			}
		}

		.setting {

			h3 {
				padding-top: 1.3rem;
			}

			.form__setting {
				display: flex;
				justify-content: left;
				align-items: center;
				position: relative;
				flex-direction: column;

				.btn__update {
					padding: 5px 10px;
					font-size: 12px;
					line-height: 1.5;
					border-radius: 3px;
				}
			}

			.form__modive {
				width: 80%;
				display: block;
				margin-right: auto;
				margin-left: auto;

				&__item {
					display: flex;
					justify-content: space-around;
					align-items: center;

					label {
						flex: 1;
					}

					input {
						flex: 1;
						margin-bottom: .6rem;
					}
				}
			}
		}
	}
}

// systeme d'onglets
.tabs-content {
	position: relative;
	z-index: 3;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	margin-bottom: 20px;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.fade {
	opacity: 0;
	transition: opacity 0.3s;
}

.fade.in {
	opacity: 1;
}

//media querry
@include md{
	.wrapper {
		max-width: 680px;

		.container__row{
			display: flex;
			flex-direction: column;
			border: 1px solid yellow;

			.sidebar__profil{
				margin-bottom: 4rem;
			}

			.main__profil {

				.tabs-content {
					.form__profil {
						display: flex;
						flex-wrap: wrap;
						margin-right: 15px;
						margin-left: 15px;
						width: 100%;

						&__item {
							width:85%;
							margin-left: -.2rem;
							//border: 1px solid red;
						}

						&__btn {
							display: flex;
							width: 100%;
							justify-content: space-between;
							align-items: center;
							border-top: 2px solid $gray;
							padding-top: 1rem;
							margin: 0 auto;
						}

						&__checkbox {
							@include form__checkbox;
						}
					}

					.setting {

						h3 {
							padding-top: 1.3rem;
						}

						.form__setting {
							display: flex;
							justify-content: left;
							align-items: center;
							position: relative;
							flex-direction: column;

							.btn__update {
								padding: 5px 10px;
								font-size: 12px;
								line-height: 1.5;
								border-radius: 3px;
							}
						}

						.form__modive {
							width: 80%;
							display: block;
							margin-right: auto;
							margin-left: auto;

							&__item {
								display: flex;
								justify-content: space-around;
								align-items: center;

								label {
									flex: 1;
								}

								input {
									flex: 1;
									margin-bottom: .6rem;
									//width: 100% !important;
								}
							}
						}
					}
				}
			}
		}
	}
}